.pane-sidebar {

	.menu-name-main-menu > .menu {
		margin-top: 0;

		li.first {
			padding-top: 0;
		}
	}

	.menu li {
		border-bottom: 0.1em dotted $blue_5;
		padding: $gutter-width 0 .3*$gutter-width .75*$gutter-width;

		a {
			// margin-left: .75*$gutter-width;
		}
		
		&.expanded ul {
			border-top: 0.1em dotted $blue_5;
		} 
	}
}