@import "base";

// Left Sidebar regions
.region-gs2-25-75-sidebar,
.region-gs3-25-25-50-sidebar,
.region-gs3-25-50-25-sidebar {

	& > .region-inner {
		// the padding needs to be 3x the gutter since there are two layouts nested
		// AT uses a -1*gutter width compensation
		// see global.base.scss #content .panel-display 
		padding-right: 3*$gutter-width;
	}
}

// Right Sidebar regions
.region-gs3-25-50-25-inset {
	& > .region-inner {
		padding-left: 2*$gutter-width;
	}
}

.region-gs3-25-25-50-inset {
	& > .region-inner {
		padding-left: $gutter-width;
	}
}