
// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */

/* =============================================================================
 *   Base
 * ========================================================================== */

/* 
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */

html {
}

body {  
  height: 100%;
  background: url(../images/background.jpg) repeat-y center center fixed, //top layer
              $page url(../images/noise-tile.png) repeat; //bottom layer
}

/* =============================================================================
 *   Standard Page Elements
 * ========================================================================== */
@import "html_elements";
@import "typography";

/* =============================================================================
 *   Drupal "Structures" - Nodes, Blocks, Fields, etc...
 * ========================================================================== */
@import "node_styles";
@import "block_styles";
@import "field_styles";
@import "region_styles";
@import "panel_styles";
@import "reflow_styles";

/* =============================================================================
 *   Theme Elements
 * ========================================================================== */
@import "wrappers";
@import "branding";
@import "navigation";
@import "forms";
@import "tables";
@import "comments";
@import "messages";
@import "maintenance";
@import "superfish";
@import "inverted";

/* =============================================================================
 *   Page Specific
 * ========================================================================== */

@import "page_user";
@import "directory";


/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */

/*
 * Feed icons
 */
.feed-icon {}


/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/*
 * Search results are an ordered list so reset the margin
 */
.search-results {
  margin: 0;
}

/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */

/*
 * Admin menu overrides
 */
#admin-menu {
  margin: 0;
  padding: 0;
}


/*
 * Devel Module
 */
.dev-query {
  background: $light;
  padding: 30px;
}


/*
 * Styleguide module tweaks
 */
#styleguide-header {
  padding: 0 10px;

  .item-list {
    font-family: inherit;
    margin: 0 20px 20px 0;
    min-height: 260px;
    width: auto;
  }
}
