@import "base";
@import "panes/honors_and_awards";

.pane-biblio-member-pubs {
	.views-row {
		margin-bottom: .75*$gw;
		line-height: 1em;
	}

	.field-content {
		color: rgba($blue_0,0.75);
	}

	.biblio-authors a {
		color: rgba($blue_0a,0.5);
	}

	a.biblio-local-author {
		color: $accent;
	}
	.biblio-title-ama a {
		color: rgba($blue_0,0.8);
	}
}

// recent advances 
.views-field-title h3 {
	margin-bottom: 0;
}

.views-field-field-date {
	margin-top: -.5*$gw;
}