@import "base";

// 
// Elements
// ----------

#realname {
	font-size: 2em;
	margin-top: -.3*$gw;
	color: $blue_5;
}

#display-title {
	margin-top: -0.2*$gw;
}

.pane-profile2-field-image,
.pane-profile2-field-fax,
.pane-profile-widgets-profile-widget-prof-titles-ca-pane {
	margin-bottom: 1.1*$gw;
}

.region-gs3-25-25-50-middle {

	font-size: 1em;
	line-height: 1.3em;

	h2 {
		@extend .region-gs3-25-25-50-middle;
		color: $blue_0a;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: $gw;
	}
}

.pane-profile2-field-phone,
.pane-profile2-field-fax {
	h2 {
		text-transform: capitalize;
		font-weight: normal;
		margin-bottom: 0;
		margin-right: .5*$gw;
		float: left;
	}
}


.pane-profile-widgets-profile-widget-contact-ca-pane {
	.views-row {
		margin-bottom: .5*$gw;
	}
}



// 
// Tabs
// -----------

#panels-ajax-tab-container-pages {
	// h2,
	.block-content { 
		// font-size: 1.2em;
		margin-bottom: 0.5em;
	}
}

.pane-panels-ajax-tab-tabs {
	width: 100%;
	text-align: center;
	position: relative;
	margin-bottom: 1.25em;

	&:after {
		position: absolute;
		content: "";
		width: 100%;
		// bottom: 0;
		left: 0;			
		border-bottom: 2px solid $blue_0a;
		z-index: 1;
	}
}

.item-list{
	display: inline-block;
	width: 100%;
}


.tabs.panels-ajax-tab {
	// http://css-tricks.com/better-tabs-with-round-out-borders/

	padding: 0;

	li {
		margin: 0;
		display: inline-block;
		background-color: $blue_5;
		padding: 0.25em 1em;
		position: relative;
		width: 21%;
		z-index: 0;
		white-space: nowrap;

		@include border-top-left-radius(1em);
		@include border-top-right-radius(1em);

		a {	color: $white; }

		&.active { 
			background-color: $blue_0; 
			// border-bottom: 2px solid $dark_blue;
			z-index: 1;

			&:before,
			&:after{ border-color: transparent transparent $blue_0 transparent; }

		}

		/* Define the Triangles */
		&:before,			
		&:after {
			width: 0;
			height: 0;
			content: "";
			bottom: -1px;
			position: absolute;				
			border-style: solid;				
			border-color: transparent transparent $blue_5 transparent;

			@include scale(0.99999);
		}

		/* Left */
		&:before {
			left: -0.7em;
			// @include border-bottom-right-radius(1em);
			// border-width: 0 1px 1px 0;
			border-width: 0 0 1.8em 1em;
		}

		/* Right */
		&:after {		
			right: -0.7em;
			// @include border-bottom-left-radius(1em);
			// border-width: 0 1px 1px 0;		
			border-width: 0 1em 1.8em 0;
			// border: 2px solid red;

		}


		/* Clear left side of first tab */
		&.first:before {
			display: none;
		}
	}		

}
