/* =============================================================================
 *   Inverted Styles - when elemets are on a dark bg
 * ========================================================================== */


#footer,
.at-panel .top {
  color: $white;

  a {
    &:link,
    &:visited {
      color: $link_inv;
    }

    &:active,
    &.active {
      color: $active_link_inv;
    }
  }
}
