/* =============================================================================
 *   Links
 * ========================================================================== */

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: $link;
  }

  &:active,
  &.active {
    color: $active_link;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/*
 * Generic styles for the more link
 */
.more-link {}

/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
ul.links {
  margin: 0;
  padding: 0;

  &.inline {
    display: block;
  }

  li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}


/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */

/*
 * Use one of the following id's for granular control:
 *  - #menu-bar (menu bar region)
 *  - #primary-menu (main menu)
 *  - #secondary-menu (secondary/user menu)
 *  - #side-nav (menu pane used for side navigation)
 *  - #shortcut-menu
 */

.nav {
  clear: both;
  margin: 10px $layout-margin;

  ul,
  ul.menu {
    margin: 0;
    padding: 0;
  }

  li,
  ul.menu li {
    display: inline;
    // float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li a,
  ul.menu li a {
    display: block;
    white-space: nowrap;
    padding: 0 10px;
    
    &:visited {}
    
    &:hover,
    &:focus {}
  }

  .block {
    margin-bottom: 0;
  }
}

#quick-menu {
  text-align: right;
  text-transform: uppercase;
  padding: $gutter-width $layout-margin;

  li { 
    padding: 0;
    margin-left: $gutter-width * 3; 
  }
  li.last a { color: $attention_link; }

}

#menu-bar {
  height: 40px;
  // margin: 0 $layout-margin;
  margin: 0;
  padding: 0 0 4px 0;
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */
#side-nav ul.menu li {
    list-style-type: none;
    list-style-image: none;
    border-bottom: .1em solid $dark_blue;
    padding-left: .5em;

    &:last-child {
      border-bottom: none;
    }
}

ul.menu {
  padding-left: 0;

  ul {
    padding-left: 15px;

    ul {
      ul {}
    }
  }

  li {
    margin: 0;

    &.collapsed,
    &.expanded,
    &.leaf {}

    a {

      &:link,
      &:visited {}

      &:active,
      &.active {}

      &:hover,
      &:focus {}
    }

    &.active a,
    &.active-trail a {}

    &.first,
    &.last {}
  }
}


/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;   
}

 
/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation {

  .page-links {}

  .page-previous {}

  .page-next {}

  .page-up {
    /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
    min-width: 2em;
    white-space: nowrap;
  }
  
  .menu {
    margin-left: 0;
  }
}


/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
  color: $white;
  padding: $gutter-width 0;
  // height: 50px;

  /* If the label is set to show in theme settings the label class is added */
  .breadcrumb-label {
    font-size: 1em;
    display: inline;
    padding-right: 10px;

    &:after {
      content: ":";
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .with-breadcrumb-label ol {
    display: inline;
  }

  li {
    list-style: none;
    display: inline;
  }

  li.crumb-first {}

  li.crumb-last {}

  a {

    &:link,
    &:visited {
      color: $link_inv;
    }

    &:active,
    &.active {
      color: $active_link_inv;
    }

    &:hover,
    &:focus {}
  }
}

// Dark on Light
.content-box #breadcrumb {
  color: $page;
  padding: 0;

  a {
    &:link,
    &:visited {
      color: $link;
    }

    &:active,
    &.active {
      color: $active_link;
    }
  }
}

/* =============================================================================
 *   Search
 * ========================================================================== */

nav#block-search-form {

  // right: -82%;
  float: right;
  bottom: 86%;
  z-index: 500;
  position: relative;
  // display: table;
  margin-bottom: -3%;
  margin-right: 2%;

  .form-item-search-block-form {
    // display: table-cell;
    // position: absolute;
  }

  input.form-text {
    height: 1.25em;
    // width: 20%;
    background-color: transparent;
    border: 2px solid $teal;
    border-radius: 2px;
  }

  input.form-submit {
    background: image-url('spyglass.png') no-repeat scroll center center transparent;
    border: 0 none;
    margin-left: -2em;
    // padding: 0;
    text-indent: -9999px;    
    height: 2em;
    width: 2em;
    // top: -1.8em;
    // left: 17.8%;
    position: relative;
    // float: right;
  }  
}


/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}


.item-list ul.pager li {
  margin: 0;
}


ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;

  &.pager-current {
    font-weight: 700;
  }
}


.block ul.pager li {
  margin: 0;
}


/*
 * Theme the various states of pager links
 */
ul.pager li {

  a {

    &:link,
    &:visited {}

    &:active,
    &.active {}

    &:hover,
    &:focus {}
  }

  &.pager-item {}
  &.first {}
  &.last {}
  &.pager-current {}
  &.pager-first {}
  &.pager-previous {}
  &.pager-next {}
  &.pager-last {}
}


/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;

  a {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: $page;
    display: block;
    line-height: 2;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited {
      background: #444;
      background: rgba(0, 0, 0, 0.6);
      color: $page;
      display: block;
      line-height: 2;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}


/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 15px;
}


ul.primary {
  border: none;
  margin: 0;
  padding: 0 0 0 5px;

  li {
    display: block;
    float: left;
    margin: 0 1px -1px;

    a {
      background-color: $ultralight;
      border: none;
      // border-color: $border;
      margin-right: 1px;
      padding: 0 10px;
      display: block;
      float: left;
      height: 1.5em;
      line-height: 1.5em;

      &:hover,
      &:focus {
        background-color: $light;
        // border-color: $border;
        border: none;
      }
    }
  }

  li.active {
    a,
    a:hover,
    a:focus {
      color: $active_link;
      font-weight: bold;
      // background-color: $page;
      border: none;
      // border-bottom-color: none;
    }
  }
}


ul.secondary {
  border-bottom: 1px solid $border;
  margin: 1em 0 0;
  padding: 0 .3em 1em;

  li {
    border-right: 0;
    list-style: none;
    padding: 0 10px 0 0;

    a {
      &:hover,
      &.active {
        border-bottom: none;
        text-decoration: underline;
      }
    }
  }
}


/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
  margin: 20px 0 0;
  list-style: none;

  li {}
}

