

set :stage, :local

set :http_port, '8888'
role :web, 'USERNAME@localhost'
role :db,  'USERNAME@localhost'
set :db_auth, { host: '127.0.0.1', username: '', password: '' }

set :deploy_user, 'USERNAME'
set :server_group, 'GROUP'
set :deploy_to, '/home/USERNAME/staging'
# On dev we can make multiple builds under build_root
set :build_root, "#{current_path.to_s}/builds"
set :repo_url, "USERNAME@localhost:PATH/REPO.git"
set :raw_uri, "BASE URI TO DOWNLOAD RAW FILES"

# Default to current branch 
set :branch, proc { `git rev-parse --abbrev-ref HEAD`.chomp }
# Save space on dev, don't rollback
set :keep_releases, 1
# Path to drush
SSHKit.config.command_map[:drush] = "/usr/local/bin/drush"
# Correct our environment
set :default_env, { path: '/usr/local/bin:$PATH'} 


#Load our stage specific rake tasks
Dir.glob("lib/capistrano/#{fetch(:stage)}/*.rake").each { |r| load r }