// _base.scss imports _custom.scss and other partials.
@import "base";

// fix media modal offset
iframe.media-modal-frame {
	padding: 0 !important;
}

// text accent color
.accent {
	color:$accent;
}


.article {

	.pane-node-title h1 {
		margin-bottom: 0;
	}

	img {
		width: 100%;
	}

	.deck {
		font-size: 1.5em; //same as h2
		line-height: 1.1em;
		margin-bottom: 1em;
	}

	.article-node-metadata {
		font-size: 1em; //same as h4
		border-top-color: $orange_9;
		border-bottom-color: $orange_9;
		border-top-width: 1px;
		border-bottom-width: 1px;
		border-top-style: solid;
		border-bottom-style: solid;
		margin-bottom: $gw;

		.block-content {
			padding: .5*$gw;
		}

		.share {
			margin-right: 2*$gw;
			i {
				margin-right: .25*$gw;
			}
		}
	}

	.feature-image {
		// margin-bottom: $gw;
	}

	.caption {
		font-size: 1em; //same as h5
		padding: $gw .5*$gw;
		border-bottom-color: $orange_9;		
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	.tags {

		.pane-title {
			color: $accent;
			font-size: 1em;
			text-transform: uppercase;
		}

		.block-content ul {
			list-style: none;
			list-style-image: none;
			margin: 0;
			padding: 0;

			li {
				float: left;
				margin-right: .5*$gw;
			}
		}
	}
}


.pane-biblio-publications-ca-pane {
	.views-row {
		margin-bottom: .75*$gw;
		line-height: 1em;
	}

	.field-content {
		color: rgba($blue_0,0.75);
	}

	.biblio-authors a {
		color: rgba($blue_0a,0.5);
	}

	a.biblio-local-author {
		color: $accent;
	}
	.biblio-title-ama a {
		color: rgba($blue_0,0.8);
	}
}
// @hack search form
#block-search-form {
	float: right;
	position: relative;
	margin: -2.25em 0 0 0 !important;
	z-index: 999;

	input::-webkit-input-placeholder,
	input:-moz-placeholder {
  		color: $blue_5;  		
	}

	input.form-text {
		// height: 1.25em;
		background-color: transparent;
		border: 2px solid $blue_5;
		border-radius: 2px;
	}

	input.form-submit {
		background: image-url('spyglass.png') no-repeat scroll center center transparent;
		border: 0 none;
		margin-left: -2em;
		text-indent: -9999px;
		// height: 2em;
		width: 2em;
		position: relative;
	}
}
