@import "base";

.gladstone-style {

	line-height: normal;

	.heading {
		color: white;
		background-color: rgb(55, 127, 195);
		padding: .5em 1em;

		.title {
			color: white;
			float: left;
			margin: 0;
		}

		i {
			float: right;
		}
	}

	.inner .content {
		background-color: $pane_bg;
		padding: 1em;
	}

	.image-float-left img {
		float: left;
		padding-right: 1em;
	}

	.image-float-right img {
		float: right;
		padding-left: 1em;
	}

	p {
		margin: 0;
	}

	img {
		width: 100%;
	}
}


@import "styles/gladstone";
@import "styles/gladstone_overlay";
@import "styles/gladstone_media";






.gladstone-pane,
.gladstone-overlay,
.gladstone-media-pane {
	& .title {
		color: $pane_header_txt;
	}
}

.gladstone-quote,
.gladstone-quote-jm {
	& .title {
		color: $accent;
	}
}



.pane.inner {
	margin: 0;
}

.pane.width-50 {
	&.float-left {
		& > .pane.inner {
			@extend .pane.inner;
			padding-right: .5*$gutter-width;
		}
	}

	&.float-right {
		& > .pane.inner {
			@extend .pane.inner;
			padding-left: .5*$gutter-width;
		}
	}

}