
// _base.scss imports _custom.scss and other partials.
@import "base";

@import "panes/connect-with-us";



#panel-content {
	section.panel-pane {
		&.light { background-color: $tan;}
		&.dark { background-color: $blue_0;}
	}
}

// flush layout when inside a pane
.view-footer p {
	margin: 0;
}

.pane {
	&.gladstone-pane,
	&.gladstone-quote 
	{ margin-bottom: $gutter-width; }
}