
// _base.scss imports _custom.scss and other partials.
@import "base";

@import "panes/connect-with-us";
@import "panes/contact";


#panel-content {
	section.panel-pane {
		&.light { background-color: $tan;}
		&.dark { background-color: $blue_0;}
	}
}

// flush layout when inside a pane
.view-footer p {
	margin: 0;
}

.pane {
	margin-bottom: $gutter-width;

	a,
	a:hover {
		text-decoration: none;
	}

	&.gladstone-pane,
	&.gladstone-quote 
	{ margin-bottom: $gutter-width; }
}

.width-50 {
	width: 50%;
}

.width-100 {
	width: 100%;	
}

.overlay {
	// @see http://www.colorzilla.com/gradient-editor/
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 91%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(91%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 91%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 91%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 91%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 91%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.clear-left {
	clear: left;
}
.clear-right {
	clear: right;
}
.clear-both {
	clear: both;
}